body {
  background: #f0f4f7;
}

#playground, #playground2 {
  margin: 20px 200px;
}

.row {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  grid-gap: 8px;
  margin-bottom: 4px;
}

.cell {
  border: 2px solid;
  background:#ffffff;
  border-color: #c3cfd9;
  border-radius: 3px;
  height: 40px;
  width: 40px;
}

.cell.red {
  background:   #e9a2ad;
  border-color: #d3455b;
}

.cell.purple {
  background:#b2acfa;
  border-color: #6558f5;
}

.cell.green {
  background:#8dd7cf;
  border-color: #1aae9f;
}
